body{
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formularz{
    background-color: rgb(194, 172, 236);
    width: 400px;
    height: 600px;
}

 h1 {
    text-align: center;
    color: white;
}

form > input{
   text-align: center;
   display: block;
   margin: auto;
}

form label, select, textarea{
    text-align: center;
    display: block;
    margin: auto;
}

.sex {
    text-align: center;

}

form{
    padding: 3px;
}

.error{
    color: red;
}